<?xml version="1.0"?>
<configuration>
  <appSettings>    
    <!-- 
    Currently the app suppprts 2 languges by using separate resource files:
    1. Default - which is in English
    2. Hebrew
    If the app is running with CultureInfo of "he" the UI will be in hebrew. For any other CultureInfo the UI will be in English.
    The following config is used to override the CultureInfo of the app. If you enter an invalid value, the app will throw an exception
    -->
    <add key="Globalization.CultureInfo" value="en"/> 
  </appSettings>  
</configuration>
